.red,
.blue {
  width: 200px;
  height: 200px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
  margin: 10px 0;
}

.green {
  width: 100px;
  height: 100px;
  background-color: green;
  position: relative;
  top: 50px;
  left: 50px;
}